$primary: #060b35;
$secondary: #616070;
$accent: #00acdc;
$surface: #fff;
$grey: #f3f3f3;
$primary-lighten: #34568b;
$shadow: #0000000d;
$transition-duration: 0.3s;
$border-radius: 5px;
$main-offset: 16px;
$card-width: 200px;
$section-offset: 50px;
